// ---------------------------------------------------------------
// Grid
// ---------------------------------------------------------------

// Breakpoints
$bp-medium: 401px;
$bp-large: 750px;

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: auto,
  container-position: center,
  columns: 6,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: bottom right,
  ),
  use-custom: (
    background-image: hide,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

@include border-box-sizing;

// ---------------------------------------------------------------
// Type
// ---------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  @include susy-breakpoint($bp-medium, 12) {
    // padding: $top-height 0 0 $sidebar-width;  
  }
}

// ---------------------------------------------------------------
// Color
// ---------------------------------------------------------------

$sidebar-width: 15em;
$top-height: 40vh;

$white: #FFF;
$black: #000;
$dark-grey: #222;
$light-grey: #444;
$trans-white: rgba(255,255,255,0.8);


// ---------------------------------------------------------------
// HTML, Body, Lists
// ---------------------------------------------------------------
html {
  background-color: $dark-grey;
  overflow: hidden;
}

body {
  margin: 0;
  @include susy-breakpoint($bp-large, 12) {
    position: absolute;
  }
}

.main-container {
  // margin-top: 8rem;
  @include container;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


// ---------------------------------------------------------------
// Mixins
// ---------------------------------------------------------------

// preserves sub pixel rendering issues
@mixin vertical-align-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin vertical-align-child {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$topbar-height: 8em;

// ---------------------------------------------------------------
// Off Canvas
// ---------------------------------------------------------------

// The width of the largest image size
// any larger, artwork will pixelate
$player-max-width: 300px;

.main-container {
  width: 100%;
  margin-top: $topbar-height;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background-color: $dark-grey;
  min-height: calc(100vh - #{$topbar-height});
  @include susy-breakpoint($bp-large, 12) {
    width: calc(100vw - #{$player-max-width});
  }
}

.off-canvas-area {
  width: 100vw;
  height: calc(100vh - #{$topbar-height});
  position: fixed;
  top: $topbar-height;
  right: -100vw;
  background: $black;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  @include susy-breakpoint($bp-medium, 6) {
    width: $player-max-width; 
    right: -$player-max-width;
  }
  @include susy-breakpoint($bp-large, 12) {
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
  }
}

.off-canvas-container {
  height: 100vh;
  overflow: auto;
}

.off-canvas-container.open .main-container, .off-canvas-area.open {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  @include susy-breakpoint($bp-medium, 6) {
    -webkit-transform: translateX(-$player-max-width);
    transform: translateX(-$player-max-width);
  }
}

