// ---------------------------------------------------------------
// Grid
// ---------------------------------------------------------------

// Breakpoints
$bp-medium: 45em;

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: auto,
  container-position: center,
  columns: 6,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: bottom right,
  ),
  use-custom: (
    background-image: hide,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

@include border-box-sizing;

// ---------------------------------------------------------------
// Type
// ---------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  @include susy-breakpoint($bp-medium, 12) {
    // padding: $top-height 0 0 $sidebar-width;  
  }
}

// ---------------------------------------------------------------
// Color
// ---------------------------------------------------------------

$sidebar-width: 15em;
$top-height: 40vh;

$white: #FFF;
$black: #000;
$trans-white: rgba(255,255,255,0.8);
$small: 45em;


// ---------------------------------------------------------------
// HTML, Body
// ---------------------------------------------------------------

body {
  margin: 0;
  @include susy-breakpoint($bp-medium, 12) {
    // padding: $top-height 0 0 $sidebar-width;  
  }
}

.main-container {
  margin-top: 10em;
  @include container;
}

// ---------------------------------------------------------------
// Mixins
// ---------------------------------------------------------------

// preserves sub pixel rendering issues
@mixin vertical-align-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin vertical-align-child {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
