$sidebar-width: 15em;
$top-height: 40vh;

// ---------------------------------------------------------------
// Grid
// ---------------------------------------------------------------

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: hide,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

@include border-box-sizing;

// ---------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------

// Font Import
// ---------
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

// Font Assignment
// ---------

body {
  margin: 0;
  padding: $top-height 0 0 $sidebar-width;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  // overflow: hidden;
}

.main-container {
  // background-color: #333;
}

// ---------------------------------------------------------------
// HTML, Body
// ---------------------------------------------------------------



// ---------------------------------------------------------------
// HTML, Body, Main-container
// ---------------------------------------------------------------
