// ---------------------------------------------------------------
// Music Player Panel
// ---------------------------------------------------------------

.player-container {
  color: $white;
}

.controls {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: $white;
  .prev, .play {
    @include span(2);
  }
  .next {
    @include span(2 at 5);
  }
}

.now-playing {
  .name, .artist, .album, .duration {
    @include span(6);
  }
}

.current-album-art {
}

// ---------------------------------------------------------------
// Top Nav
// ---------------------------------------------------------------

.top-bar-container {
  @include container;
  width: 100%;
  height: $topbar-height;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to right, rgba(255,0,21,1) 0%, rgba(255,0,102,1) 100%);
  :focus {
    outline: none;
  }
  // Placholder styling
  ::-webkit-input-placeholder {
   color: $trans-white;
  }
  :-moz-placeholder { /* Firefox 18- */
   color: $trans-white;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
   color: $trans-white;
  }
  :-ms-input-placeholder {  
   color: $trans-white;
  }
}

.top-nav {
  @include container;
  margin: 0;
  padding: .5em 0;
  background-color:rgba(255,255,255,.2);
  a {
    text-decoration: none;
    color: $white;
    font-size: .8em;
  }
  ul {
  }
}

.logo {
  @include span(2);
  font-size: 1em;
  font-weight: 400;

}

.create-account {
  @include span(2);
}

.sign-in {
  @include span(1);
}

.menu {
  @include span(1 at 5);
  text-align: right;
}

#menu-svg {
  height: 2em;
  stroke: $white;
  stroke-linecap: round;
}

#menu-bttn {
  // display: inline-block;
}

// ---------------------------------------------------------------
// API Search Bar
// ---------------------------------------------------------------

.api-search-bar {
  @include span(6);
  color: $white;
  margin: 1em 0;
  padding: 0;
  font-weight: 100;
  font-size: 1.5em;
  input {
    @include span(5);
    background-color: transparent;
    border: none;
  }
  .searchCloseBttn {
    @include span(1 at 5);
    text-align: right;
    svg {
      width: 1.3em;
      stroke: white;
      stroke-linecap: round;
    }
  }
}

.top-bar-container.searchOpen {
  height: 100vh;
  transition: all .01s ease;
  padding-bottom: 15em;
}

.search-results-container {
  overflow: auto;
  width: 100%;
}

.search-results-container.searchOpen {
  height: 100vh;
}


.search-results, .user-library {
  @include container;
  li {
    @include container;
    padding-bottom: 1em;
    clear: both;
  }
  .border {
    @include span(6 split);
    padding-bottom: 1em;
    border-top: 1px solid rgba(150,150,150, 1);
  }
  a {
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
  }
  .buttons {
    @include span(1 at 5);
    text-align: right; 
    img {
      width: 2em;
    }
  }
  .title {
    // @include span(6);
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
  }
  .track {
    @include span(5);
  }
  .artist, .album {
    font-size: .8em;
    margin: 0;
  }
  .album {
    font-weight: 200;
    // @include span(3 at 4);
  } 
}

.search-results, .user-library{
  color: $white;
  a {
    color: $white;
  }
}

.user-library {
  button {
    color: $black;
  }
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
