// ---------------------------------------------------------------
// Sidebar
// ---------------------------------------------------------------

.sidebar-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  color: #FFF;
  background-color: #000;
  display: none;
}

.controls {
  width: 100%;
  display: inline-block;
  text-align: center;
   .prev, .play {
  }
  .next {
  }
  img {

  }
}

.current-album-art {

}

// ---------------------------------------------------------------
// Top Nav
// ---------------------------------------------------------------

.top-bar-container {
  @include container;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(to right, rgba(255,0,21,1) 0%, rgba(255,0,102,1) 100%);
  :focus {
    outline: none;
  }
  // Placholder styling
  ::-webkit-input-placeholder {
   color: $trans-white;
  }
  :-moz-placeholder { /* Firefox 18- */
   color: $trans-white;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
   color: $trans-white;
  }
  :-ms-input-placeholder {  
   color: $trans-white;
  }
  // @include susy-breakpoint($small, 12) {
  //   left: $sidebar-width;
  //   width: calc(100% - 15em); // lines up grid
  //   .search{
  //     @include span(12);
  //   } 
  // }
}

.top-nav {
  margin: 0;
  @include container;
  padding: .5em 0;
  background-color:rgba(255,255,255,.2);
  a {
    text-decoration: none;
    color: $white;
    font-size: .8em;
  }
  ul {
  }
}

.logo {
  @include span(2);
  font-size: 1em;
  font-weight: 400;

}

.create-account {
  @include span(2);
}

.sign-in {
  @include span(1);
}

.menu {
  @include span(1 at 5);
  text-align: right;
}

#menu-svg {
  height: 2em;
  stroke: $white;
  stroke-linecap: round;
}

#menu-bttn {
  // display: inline-block;
}

// ---------------------------------------------------------------
// API Search Bar
// ---------------------------------------------------------------

.api-search-bar {
  @include span(6);
  background-color: transparent;
  border: none;
  color: $white;
  margin: 1em 0;
  font-weight: 100;
  font-size: 1.5em;
}

.top-bar-container.searchOpen {
  height: 100vh;
  transition: all .01s ease;
}

.search-results-container {
  overflow: auto;
}

.search-results {
  padding: 1em 0;
  li {

    color: $white;
    clear: both;
  }
  a {
    color: $white;
  }
  .queue, .save {

  }
  .source {

  }
  .title {

  }
  .artist, .album {

  }
  .duration {

  }  
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

