<!-- Sidbar -->
<div class="sidebar-container">
  
  <div class="track-info">
    <h1 class="track">Fireworks</h1>
    <h2 class="artist">Animal Collective</h2>
  </div>

  <div class="track-time">
    <h1 class="elapsed">00:47</h2>
    <h2 class="total">04:14</h2>
  </div>

  <div class="controls">
    <a href="#" class="prev"><%= image_tag "prev-btn.svg" %></a>
    <a href="#" class="play"><%= image_tag "play-btn.svg" %></a>
    <a href="#" class="next"><%= image_tag "next-btn.svg" %></a>
  </div>
  now playing
  controls
  cue
  album art
</div>

<div class="top-nav-container">
  <nav class="top-nav">
    <a href="#" class="home">RCLOUD</a>
  </nav>

  <!-- rdio + soundcloud search -->
  <input class="search" type="text" placeholder="Search artist, track, or album" />
  <ul class="search-results">
    <li>
      <a href="#" class="cue">+ cue</a>
      <a href="#" class="save">save</a>
      <span class="title">Title</span>
      <span class="artist">Artist</span>
      <span class="album">Album</span>
      <span class="source">Source</span>
      <span class="duration">04:15</span>
    </li>
  </ul>

  <!--  library filters -->
  <div class="library-filters">
    <div class="library-filter-labels">
      LABELS
    </div>
    
    <div class="genre-filter">
      FILTER GENRES
    </div>
    
    <div class="artist-filter">
      FILTER ARTISTS
    </div>
    
    <div class="album-filter">
      FILTER ALBUMS     
    </div>

  </div>
</div>

<!-- Main  -->
<div class="main-container">

  <!-- Library Container -->
    <div class="library-container">

    <!-- library  -->
    <ul class="library">
      <li>
        <a href="#" class="cue">+ cue</a>
        <a href="#" class="save">save</a>
        <span class="title">Title</span>
        <span class="artist">Artist</span>
        <span class="album">Album</span>
        <span class="source">Source</span>
        <span class="duration">04:15</span>
      </li>
    </ul>
  </div>

</div>

