<!-- Sidbar -->
<div class="sidebar-container">
  
  <div class="track-info">
    <h1 class="track">Fireworks</h1>
    <h2 class="artist">Animal Collective</h2>
  </div>

  <div class="track-time">
    <h1 class="elapsed">00:47</h2>
    <h2 class="total">04:14</h2>
  </div>

  <div class="controls" ng-controller="PlayerCtrl">
    <a href="" class="prev" ng-click="previous()"><%= image_tag "prev-btn.svg" %></a>
    <a href="" class="play" ng-click="togglePause()"><%= image_tag "play-btn.svg" %></a>
    <a href="" class="next" ng-click="next()"><%= image_tag "next-btn.svg" %></a>
  </div>
  cue
  album art
</div>

<div class="top-nav-container">
  <nav class="top-nav">
    <a href="#" class="home">RCLOUD</a>
  </nav>

  <!-- rdio + soundcloud search -->
  <div ng-controller="SearchCtrl">
  {{objectOnScope}}
    <form ng-submit="search(search.query)">
      <input ng-model="search.query" class="search" type="text" placeholder="Search artist, track, or album" />
      <!-- <input type="submit" /> -->
    </form>
    {{searchQuery}}
    <ul class="search-results">
      <li ng-repeat="track in search.results">
        <a href="#" class="cue">+ cue</a>
        <a href="" class="save" ng-click="play(track)">Play</a>
        <span class="title">title</span>
        <span class="artist">{{track.artist}}a</span>
        <span class="album">{{track.name}}</span>
        <span class="source">Source</span>
        <span class="duration">04:15</span>
      </li>
    </ul>
  </div>

  <!--  library filters -->
  <div class="library-filters">
    <div class="library-filter-labels">
      LABELS
    </div>
    
    <div class="genre-filter">
      FILTER GENRES
    </div>
    
    <div class="artist-filter">
      FILTER ARTISTS
    </div>
    
    <div class="album-filter">
      FILTER ALBUMS     
    </div>

  </div>
</div>

<!-- Main  -->
<div class="main-container">

  <!-- Library Container -->
    <div class="library-container">

    <!-- library  -->
    <ul class="library">
      <li>
        <a href="#" class="cue">+ cue</a>
        <a href="#" class="save">save</a>
        <span class="title">Title</span>
        <span class="artist">Artist</span>
        <span class="album">Album</span>
        <span class="source">Source</span>
        <span class="duration">04:15</span>
      </li>
    </ul>
  </div>

</div>

