

<!-- Top Nav -->
<div class="top-bar-container" ng-class="searchOverlay">
  <nav class="top-nav">
    <ul>
      <span class="logo"><a href="#">RCLOUD</a></span>
<!--       <li ng-show="currentUser">{{currentUser.email}}</li>
      <li ng-show="currentUser"><a href="" ng-click="signOut()">Sign Out</a></li>
      <li ng-hide="currentUser" class="create-account"><a href="/users/sign_up/">Create Account</a></li>
      <li ng-hide="currentUser" class="sign-in"><a href="" ng-click="signIn()">Sign In</a></li> -->
      <li class="menu">
        <a id="menu-bttn" href="" ng-click="menuBttnToggle()">
          <svg id="menu-svg" viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" >
            <line id="line-one" x1="5" y1="5" x2="95" y2="5" stroke-width="10"/>
            <line id="line-two" x1="5" y1="50" x2="95" y2="50" stroke-width="10"/>
            <line id="line-three" x1="5" y1="95" x2="95" y2="95" stroke-width="10" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <!-- rdio + soundcloud search -->
    <form ng-submit="search(search.query); searchOverlay='searchOpen'"; class="api-search-bar">
      <input ng-model="search.query" type="text" placeholder="Search artist, track, or album" />
      <!-- <input type="submit" /> -->
      <a href="" ng-class="searchCloseBttn" ng-click="searchOverlay=''; closeSearch()" ng-show="search.results" class="searchCloseBttn">
        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <line x1="5" y1="50" x2="95" y2="50" stroke-width="10" transform="matrix(0.7071,0.7071,-0.7071,0.7071,50,-20.7107)"></line>
          <line x1="5" y1="50" x2="95" y2="50" stroke-width="10" style="display: none;"></line>
          <line x1="5" y1="50" x2="95" y2="50" stroke-width="10" transform="matrix(0.7071,-0.7071,0.7071,0.7071,-20.7107,50)"></line>
        </svg>
      </a>
    </form>

    <div class="search-results-container" ng-class="searchOverlay">
      <ul class="search-results">
        <li ng-repeat="track in search.results">
            <div class="border"></div>
            <span class="track">
              <img class="art" src="{{track.art}}" alt="art"></img>
              <span class="text">
                <h2 class="title"><a href="" ng-click="playTrack(track)">{{track.name}}</a></h2>
                <h3 class="artist">{{track.artist}}</h3>
                <h4 class="album">{{track.album}}</h4>
              </span>
            </span>
            <span class="buttons">
              <a href="" class="play" ng-click="playTrack(track)"><img src="/img/play-icon-white.svg" alt="Play"></img></a>
              <a href="" class="queue" ng-click="queueTrack(track)"><img src="/img/plus-icon-white.svg" alt="Add to Que"></img></a>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--  library filters -->
<!--   <div class="library-filters">
    <div class="library-filter-labels">
      LABELS
    </div>
    
    <div class="genre-filter">
      FILTER GENRES
    </div>
    
    <div class="artist-filter">
      FILTER ARTISTS
    </div>
    
    <div class="album-filter">
      FILTER ALBUMS     
    </div>

  </div> -->

<!-- Main  -->
<div class="off-canvas-container" ng-class="menuOpen ? 'open' : 'null'">
  <div class="main-container">

    <!-- Library Container -->
    <div class="library-container">

      <!-- library  -->
      <header>
        <span class="credits">
          <img id="powered-sound-cloud" src="img/powered_by_soundcloud-white.png" />
          <img id="powered-by-rdio" src="img/rdio-white.png" />      
        </span>
        <div class="library-controls">
        <button ng-click="soundCloudConnect(); rdioConnect()">Connect</button>
          <!-- <button ng-click="soundCloudConnect()">SoundCloud Connect</button> -->
          <!-- <button ng-click="rdioConnect()">Rdio Connect</button> -->
          <button ng-click="getLibrary()">Refresh</button>
        </div>
      </header>
      
      <ul class="user-library">
        <li ng-repeat="track in userLibrary | orderBy:'-artist'">
          <div class="border"></div>
          <span class="track">
            <img class="art" src="{{track.art}}" alt="art"></img>
            <span class="text">
              <h2 class="title"><a href="" ng-click="playTrack(track)">{{track.name}}</a></h2>
              <h3 class="artist">{{track.artist}}</h3>
              <h4 class="album">{{track.album}}</h4>
            </span>
          </span>
          <span class="buttons">
            <a href="" class="play" ng-click="playTrack(track)"><img src="/img/play-icon-white.svg" alt="Play"></img></a>
            <a href="" class="queue" ng-click="queueTrack(track)"><img src="/img/plus-icon-white.svg" alt="Add to Que"></img></a>
          </span>
          <!-- <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span> -->
        </li>
      </ul>
    </div>  
  </div>

  <div class="off-canvas-area" ng-class="menuOpen ? 'open' : 'null'">
    
    <!-- Player -->
    <div class="player-container">
        <div class="now-playing">
          <div class="left">
            <span class="track">
              <h2 class="name"><a href="{{nowPlaying.url}}">{{nowPlaying.name}}</a></h2>
              <h3 class="artist">{{nowPlaying.artist}} </h3>
              <h4 class="album">{{nowPlaying.album}} </h4>
              <span class="time">
                <span class="elapsed">{{currentPosition | secondsToDateTime | date:'HH:mm:ss'}}</span>
                <span class="total">{{nowPlaying.duration || 0 | secondsToDateTime | date:'HH:mm:ss'}}</span>
              </span>
            </span>
          </div>
          <img class="art" ng-src="{{nowPlaying.art}}"/>
          <div class="controls">
            <a href="" class="prev" ng-click="previous()"><img src="img/previous-icon-white.svg" /></a>
            <a href="" class="play" ng-click="togglePause()"><img ng-hide="playing" ng-show="!playing" src="./img/play-icon-white.svg" /><img ng-hide="!playing" ng-show="playing" src="./img/pause-icon-white.svg" /></a>
            <a href="" class="next" ng-click="next()"><img src="./img/next-icon-white.svg" /></a>
          </div>
        </div>
      
      <div class="player-queue">
        <ul>
          <li ng-repeat="track in queue track by $index">
            <h2 class="name">{{track.name}}</h2>
            <a href="" class="play" ng-click="playTrack(track)"><img src="/img/play-icon-white.svg" alt="Play"></img></a>
            <h3 class="artist">{{track.artist}}</h3>
            <h4 class="album">{{track.album}}</h4>
            <!-- <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span> -->
          </li>
        </ul>
      </div>

    </div>
  </div>

  <footer>
    <p>2015 Rcloud.io | Created by <a href="http://neilspurgeon.com/">Neil Spurgeon</a></p> 
    <p>Thank you Rdio and SoundCloud for making this possible.</p>
    <span class="links">
      <a href="https://soundcloud.com/"><img src="img/powered_by_soundcloud-white.png" /></a>
      <a href="http://www.rdio.com/"><img src="img/rdio-white.png" /></a>  
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>  
    </span>
  </footer>

</div>


