<!-- Sidbar -->
<div class="sidebar-container">
  
  <div class="track-info">
    <h4 class="track">{{nowPlaying.name || nowPlaying.title}} </h4>
    <h6 class="artist">{{nowPlaying.artist || nowPlaying.user.username}} </h6>
  </div>

  <div class="track-time">
    <h1 class="elapsed">{{currentPosition | secondsToDateTime | date:'HH:mm:ss'}}</h2>
    <h2 class="total">{{nowPlaying.duration || 0 | secondsToDateTime | date:'HH:mm:ss'}}</h2>
  </div>

  <div class="controls">
    <a href="" class="prev" ng-click="previous()"><img src="img/prev-btn.svg" /></a>
    <a href="" class="play" ng-click="togglePause()"><img src="./img/play-btn.svg" /></a>
    <a href="" class="next" ng-click="next()"><img src="./img/next-btn.svg" /></a>
  </div>
  <img class="current-album-art" ng-src="{{nowPlaying.icon400 || nowPlaying.artwork_url}}"/>

  <ul>
    <li ng-repeat="track in queue track by $index">
      <a href="" class="save" ng-click="playTrack(track)">Play</a>
      <span class="">{{track.name || track.title}}</span>
      <span class="">{{track.artist || track.user.username}}</span>
      <span class="">{{track.album}}</span>
      <span class="">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
    </li>
  </ul>

</div>

<!-- Top Nav -->

<div class="top-nav-container" ng-class="searchOverlay">
  <nav class="top-nav">
    <a href="#" class="home">RCLOUD</a>

      <li ng-show="currentUser">{{currentUser.email}}</li>
      <li><a href="" ng-show="currentUser" ng-click="signOut()">Sign Out</a>
      <li ng-hide="currentUser"><a href="/users/sign_up/">Create Account</a></li>
      <li ng-hide="currentUser"><a href="" ng-click="signIn()">Sign In</a></li>
  </nav>

  <!-- rdio + soundcloud search -->

    
    <form ng-submit="search(search.query); searchOverlay='searchOpen'">
      <input ng-model="search.query" class="search" type="text" placeholder="Search artist, track, or album" />
      <!-- <input type="submit" /> -->
    </form>
    <button ng-class="searchCloseBttn" ng-click="searchOverlay=''; closeSearch()" ng-show="search.results" class="searchCloseBttn">X</button>
    <div class="search-results-container">
      <ul class="search-results">
        <li ng-repeat="track in search.results">
          <a href="" class="queue" ng-click="queueTrack(track)">+ Queue</a>
          <a href="" class="save" ng-click="playTrack(track)">Play</a>
          <span class="title">{{track.name || track.title}}</span>
          <span class="artist">{{track.artist || track.user.username}}</span>
          <span class="album">{{track.album}}</span>
          <!-- Both have duration key (Rdio=seconds, SoundCloud=Milliseconds) -->
          <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
        </li>
      </ul>
    </div>
  </div>

  <!--  library filters -->
  <div class="library-filters">
    <div class="library-filter-labels">
      LABELS
    </div>
    
    <div class="genre-filter">
      FILTER GENRES
    </div>
    
    <div class="artist-filter">
      FILTER ARTISTS
    </div>
    
    <div class="album-filter">
      FILTER ALBUMS     
    </div>

  </div>
</div>

<!-- Main  -->
<div class="main-container">

  <!-- Library Container -->
    <div class="library-container">

    <!-- library  -->
    <ul class="user-library">
    <button ng-click="getLibrary()">Get Rdio Library</button>
      <li ng-repeat="track in userLibrary | orderBy:'-artist'">
        <a href="" class="queue" ng-click="queueTrack(track)">+ Queue</a>
        <a href="" class="save" ng-click="playTrack(track)">Play</a>
        <span class="title">{{track.name || track.title}}</span>
        <span class="artist">{{track.artist || track.user.username}}</span>
        <span class="album">{{track.album}}</span>
        <!-- Both have duration key (Rdio=seconds, SoundCloud=Milliseconds) -->
        <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </li>
    </ul>
  </div>

</div>