<!-- Sidbar -->
<div class="sidebar-container">
  
  <div class="track-info">
    <h4 class="track">{{nowPlaying.name || nowPlaying.title}} </h4>
    <h6 class="artist">{{nowPlaying.artist || nowPlaying.user.username}} </h6>
  </div>

  <div class="track-time">
    <h1 class="elapsed">{{currentPosition | secondsToDateTime | date:'HH:mm:ss'}}</h2>
    <h2 class="total">{{nowPlaying.duration || 0 | secondsToDateTime | date:'HH:mm:ss'}}</h2>
  </div>

  <div class="controls">
    <a href="" class="prev" ng-click="previous()"><img src="img/prev-btn.svg" /></a>
    <a href="" class="play" ng-click="togglePause()"><img src="./img/play-btn.svg" /></a>
    <a href="" class="next" ng-click="next()"><img src="./img/next-btn.svg" /></a>
  </div>
  <img class="current-album-art" ng-src="{{nowPlaying.art}}"/>

  <ul>
    <li ng-repeat="track in queue track by $index">
      <a href="" class="save" ng-click="playTrack(track)">Play</a>
      <span class="">{{track.name}}</span>
      <span class="">{{track.artist}}</span>
      <span class="">{{track.album}}</span>
      <span class="">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
    </li>
  </ul>

</div>

<!-- Top Nav -->

<div class="top-bar-container" ng-class="searchOverlay">
  <nav class="top-nav">
    <ul>
      <span class="logo"><a href="#">RCLOUD</a></span>
      <li ng-show="currentUser">{{currentUser.email}}</li>
      <li ng-show="currentUser"><a href="" ng-click="signOut()">Sign Out</a></li>
      <li ng-hide="currentUser" class="create-account"><a href="/users/sign_up/">Create Account</a></li>
      <li ng-hide="currentUser" class="sign-in"><a href="" ng-click="signIn()">Sign In</a></li>
      <li class="menu">
        <a id="menu-bttn" href="" ng-click="menuBttnToggle()">
          <svg id="menu-svg" viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" >
            <line id="line-one" x1="5" y1="5" x2="95" y2="5" stroke-width="10"/>
            <line id="line-two" x1="5" y1="50" x2="95" y2="50" stroke-width="10"/>
            <line id="line-three" x1="5" y1="95" x2="95" y2="95" stroke-width="10" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <!-- rdio + soundcloud search -->

    
    <form ng-submit="search(search.query); searchOverlay='searchOpen'">
      <input ng-model="search.query" class="api-search-bar" type="text" placeholder="Search artist, track, or album" />
      <!-- <input type="submit" /> -->
    </form>
    <button ng-class="searchCloseBttn" ng-click="searchOverlay=''; closeSearch()" ng-show="search.results" class="searchCloseBttn">X</button>
    <div class="search-results-container">
      <ul class="search-results">
        <li ng-repeat="track in search.results">
          <a href="" class="queue" ng-click="queueTrack(track)">+ Queue</a>
          <a href="" class="save" ng-click="playTrack(track)">Play</a>
          <span class="title">{{track.name}}</span>
          <span class="artist">{{track.artist}}</span>
          <span class="album">{{track.album || "Not Available"}}</span>
          <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
        </li>
      </ul>
    </div>
  </div>

  <!--  library filters -->
  <div class="library-filters">
    <div class="library-filter-labels">
      LABELS
    </div>
    
    <div class="genre-filter">
      FILTER GENRES
    </div>
    
    <div class="artist-filter">
      FILTER ARTISTS
    </div>
    
    <div class="album-filter">
      FILTER ALBUMS     
    </div>

  </div>
</div>

<!-- Main  -->
<div class="main-container">

  <!-- Library Container -->
    <div class="library-container">

    <!-- library  -->
    <ul class="user-library">
    <button ng-click="soundCloudConnect()">SoundCloud Connect</button>
    <button ng-click="rdioConnect()">Rdio Connect</button>
    <button ng-click="getLibrary()">Get Library</button>
      <li ng-repeat="track in userLibrary | orderBy:'-artist'">
        <a href="" class="queue" ng-click="queueTrack(track)">+ Queue</a>
        <a href="" class="save" ng-click="playTrack(track)">Play</a>
        <span class="title">{{track.name}}</span>
        <span class="artist">{{track.artist}}</span>
        <span class="album">{{track.album || "Not Available"}}</span>
        <span class="duration">{{track.duration | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </li>
    </ul>
  </div>

</div>